html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.header {
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.header .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.header h1 {
  margin: 0;
  font-size: 2.5em;
}
.header h2 {
  margin: 0;
  font-size: 1.2em;
  color: #666;
}
.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #f8f9fa;
}

/* .tab {
  width: 10%;
  float: left;
  border: solid thin gray;
  text-align: center;
  padding: 10px 0;
}

.tab:hover {
  cursor: pointer;
} */

/* .tabContent {
  clear: left;
  padding: 20px 10px;
} */

.active {
  background-color: rgb(245, 131, 24);
  color: white;
  font-weight: bold;
}

.hidden {
  display: none;
}

ul {
  list-style: circle;
  text-decoration: double;
  text-align: justify;
  list-style-position: inside;
}

ul li {
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}

#cardsOutput {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Individual card */
.card {
  width: calc(33.333% - 20px); /* Adjust card width for responsiveness */
  margin: 10px; /* Add margin between cards */
}

/* Card image */
.card-img-top {
  width: 100%; /* Make image fill the width of the card */
  height: auto; /* Maintain aspect ratio */
}

/* Card body */
.card-body {
  display: flex;
  flex-direction: column; /* Stack card body content vertically */
  justify-content: space-between; /* Distribute content vertically */
}

/* Card title */
.card-title {
  font-size: 1.2rem; /* Adjust title font size */
}

/* Card text */
.card-text {
  font-size: 1rem; /* Adjust text font size */
}

/* Button */
.btn {
  margin-top: 10px; /* Add margin above the button */
}

/* Responsiveness */

.icon {
  width: 100px;
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
  .icon {
    width: 70px;
  }
}

@media (max-width: 576px) {
  .icon {
    width: 35px;
  }
}

/* animate contact-me box 

#aboutSection {
  margin: 0 auto;
  padding: 2em;
  width: 400px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
#aboutSection::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(red, blue, lightgreen, lightyellow, red);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
}
*/
